/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.cart-items-container {
    flex-grow: 1;
    padding: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item div {
    display: flex;
    align-items: center;
}

.cart-item div span {
    margin: 0 10px;
}

.cart-item .material-icons {
    cursor: pointer;
    margin-left: 10px;
}

.total-price {
    padding: 20px;
    text-align: right;
    font-size: 1.5em;
    background-color: #f8f8f8;
}

.checkout-btn {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #218838;
}

.cart-count {
    display: none;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

footer a .material-icons {
    vertical-align: middle;
}

/* Ajustes para telas menores */
@media (max-width: 600px) {
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .checkout-btn {
        font-size: 1em;
        padding: 10px;
    }

    .total-price {
        font-size: 1.2em;
    }
}
