/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    position: relative;
}

#cart-container {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-box {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.container {
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

footer a .material-icons {
    vertical-align: middle;
}

/* Ajustes para telas menores */
@media (max-width: 600px) {
    #search-box {
        width: 90%;
        font-size: 14px;
    }
}
